/* Code by Cal Noonan (a0002859)*/
/* Events CSS page of Wheels of Fire (WebDev Module CA)*/

.Event_Title h1{
    color :rgb(233, 6, 6);
    text-align: center;
    font-style: italic;
}

.Event_Title h2 {
    color: black;
    text-align: center;
    font-weight: 300;
    margin: auto;
}

.Page_Layout h3{
    font-weight: 300;
    color:black;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    padding: 24px 16px;
    margin-bottom: 32px;
    text-align: center;

}

.Page_Layout h2{
    text-align: center;
    margin-bottom: 16px;
    color: red ;

}

