/* Code by Cal Noonan (a0002859)*/
/* Contact page of Wheels of Fire (WebDev Module CA)*/
.div_layout {
    border : 2px solid black;
    margin : auto;
    text-align : center;
    padding : 10px;
    width : 80%;
    background-color : #f4f4f4;
    border-radius : 10px;
}

.Cartoon_Car {
    float : right;
    margin : auto;

}

.Red_Header {
    color : #e31837;
    text-align : center;
}

.small_Header h2 {
    color : red;
}


.Contact_form {
    margin : auto;
    text-align : left;
    padding : 10px;
    width : 50%;
    border: #e31837 2px solid;
    border-radius : 10px;
    background-color : #fff0f0;
}


